@model List<Portfolio_MVC.Models.Experience>
@{
    int sayac = 1;
}

<section id="works">
    <br /> <br />
    <div class="row about-content about-content--timeline">
        <div class="col-full text-center">
            <h3>Deneyimlerim</h3>
        </div>

        @foreach (var item in Model)
        {
            @if (sayac % 2 == 0)
            {
                <!-- Sol Taraf -->
                <div class="col-six tab-full left">
                    <div class="timeline">
                        <div class="timeline__block">
                            <div class="timeline__bullet"></div>
                            <div class="timeline__header">
                                <p class="timeline__timeframe">@item.DateTime</p>
                                <h3>@item.CompanyName</h3>
                                <h5>@item.Department</h5>
                            </div>
                            <div class="timeline__desc">
                                <h6>@item.Project</h6>
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    @item.Description
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @if (sayac % 2 == 1)
            {
                <!-- Sağ Taraf -->
                <div class="col-six tab-full right">
                    <div class="timeline">
                        <div class="timeline__block">
                            <div class="timeline__bullet"></div>
                            <div class="timeline__header">
                                <p class="timeline__timeframe">@item.DateTime</p>
                                <h3>@item.CompanyName</h3>
                                <h5>@item.Department</h5>
                            </div>
                            <div class="timeline__desc">
                                <h6>@item.Project</h6>
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    @item.Description
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            }
            sayac++;
        }


    </div>
</section>

